@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  margin: 20px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
